@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

.Header  {
  padding-left: 139px;
}
.header_line {
  padding-top: 48px;
  display: flex;
  align-items: center;
  font-family: 'Tektur', sans-serif;
  color: #ffffff;
  font-size: 30px;
}

.button {
  display: flex;
  align-items: center;
  gap: 27px;
}

.button img {
  transition: transform 0.2s ease; /* Плавний перехід */
}

.button img:hover {
  transform: scale(1.1); /* Збільшення на 10% */
}


.Logo_name {
  color: #FF8001;
  font-size: 55px;
  font-family: 'Bruno Ace SC', sans-serif;
  margin-right: 55px;
}

.header_logo {
  margin-right: 20px;
}

.adresa {
  margin-right: 27px;
}

.Street {
  padding-right: 27px;
  padding-left: 27px;
}

.image-container {
  position: relative; 
  display: inline-block; 
}

.background-image {
  width: 100%; 
  height: auto; 
}

.overlay-text {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 25px; 
  font-weight: 400; 
  color: #000000; 
  text-align: center; 
  white-space: nowrap; 
}

